.App {
  text-align: center;
  overflow: hidden;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.App:-webkit-scrollbar {
  display: none;
}

.wrap {
  z-index: 1;
  position: relative;
}
.search-wrap {
  z-index: 2;
  position: absolute;
  top: 90px;
  right: 10px;
}

.App::-webkit-scrollbar {
  width: 10px; /* 세로축 스크롤바 길이 */
  height: 20px; /* 가로축 스크롤바 길이 */
}

.App::-webkit-scrollbar-track {
  background-color: white; /*스크롤 바 배경 색상*/
}

.App::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #6667ab; /*스크롤 바 색상*/
}
